.top-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.top-banner .banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.top-banner .banner .top-img {
    width: 100vw;
}

.top-banner .banner .moto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 130px;
    transform: translateY(-110%);
}

.top-banner .banner .moto div li {
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-banner .banner .moto p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #111;
    cursor: pointer;
    transition: all 0.6s;
}

.top-banner .banner .moto p:hover {
    background-color: #222;
    color: #fff;
}

@media (max-width: 650px) {
    .top-banner {
        background-color: #eeee;
    }

    .top-banner .banner .moto {
        height: 80px;
        transform: translateY(-65%);
    }

    .top-banner .banner .moto div li {
        font-size: 1.7rem;
        font-weight: 600;
    }

    .top-banner .banner .moto p {
        position: relative;
        top: 20px;
        height: 30px;
        width: 110px;
        border: 1px solid #111;
    }
}