.tips-section {
    width: 100%;
}

.tips-section .tips-section-title {
    position: relative;
    top: 0;
    text-align: center;
    z-index: 10;
}

.tips-section .tips {
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.tips-section .tips .tips-button {
    font-family: 'Playfair Display',serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 60px;
    margin: 10px;
    padding: 15px 50px;
    background: none;
    border: 1px solid silver;
    cursor: pointer;
    transition: all 0.6s;
}

.tips-section .tips .tips-button:hover {
    border: 1px solid #111;
    background-color: #111;
    color: #fff;
}

.tips-section .tips h4 {
    font-family: 'Playfair Display',serif;
    font-weight: 500;
}

@media (max-width: 575px) {
    .tips-section .tips {
        position: relative;
        top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
    }
}