.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.checkout .checkoutpage-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
}

.checkout .major {
  font-family: "Playfair Display", serif;
  position: relative;
  top: 130px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
  gap: 40px;
}

.checkout .major .major-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 0;
  height: auto;
  width: 50%;
  gap: 25px;
}

.checkout .major .major-left .billing-detail-title {
  position: relative;
  top: 0;
}

.checkout .major .major-left .billing-details {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  gap: 10px;
}

.checkout .major .major-left .billing-details input {
  font-family: "Playfair Display", serif;
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  padding: 10px 12px;
  background: #eeee;
}

.checkout .major .major-left .billing-details span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 200px;
}

.checkout .major .major-left .billing-details span input {
  height: 15px;
  width: 15px;
}

.checkout .major .major-left .billing-details .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.checkout .major .major-left .billing-details .top1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.checkout .major .major-left .billing-details .top2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.checkout .major .major-left .billing-details .bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.checkout .major .major-left .billing-details .bottom1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.checkout .major .major-left .billing-details .bottom2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.checkout .major .major-right {
  height: auto;
  width: 50%;
}

.checkout .major .major-right .order-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
  background: #eeee;
}

.checkout .major .major-right .order-summary .order-summary-title {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkout .major .major-right .order-summary .warning {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.checkout .major .major-right .order-summary .item-detail {
  position: relative;
  top: 5px;
  left: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
  width: 100%;
  margin: 15px 0;
}

.checkout .major .major-right .order-summary .item-detail img {
  height: 150px;
  width: 120px;
}

.checkout .major .major-right .order-summary .item-detail .pieces {
  position: relative;
  top: -15px;
  left: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  background-color: turquoise;
}

.checkout .major .major-right .order-summary .item-detail .text-detail {
  position: relative;
  top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.checkout .major .major-right .payment-summary {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  background: #dddd;
}

.checkout .major .major-right .payment-summary .bill-info {
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  margin: 30px 0;
  gap: 5px;
}

.checkout .major .major-right .payment-summary .bill-info div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.checkout .major .major-right .payment-summary .bill-info .coupon {
  width: 100%;
}

.checkout .major .major-right .payment-summary .bill-info .coupon input {
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  padding: 10px;
}

.checkout .major .major-right .payment-summary .bill-info .coupon button {
  font-family: "Playfair display", serif;
  text-align: center;
  border: none;
  border-radius: 0 5px 5px 0;
  height: 30px;
  width: 150px;
  background: #bbbb;
  cursor: pointer;
  transition: 0.6s all;
}

.checkout .major .major-right .payment-summary .bill-info .coupon button:hover {
  color: #111;
}

.checkout .major .major-right .payment-summary .bill-info span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkout .major .major-right .payment-summary .bill-info hr {
  width: 100%;
}

.checkout .major .major-right .payment-summary button {
  font-family: "Playfair display", serif;
  height: 30px;
  width: 40%;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  outline: none;
  background: #111;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 650px) {
  .checkout .major {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .checkout .major .major-left {
    width: 90%;
  }

  .checkout .major .major-right {
    width: 90%;
  }
}
