/* searcbar css */

.searchbar {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100vw;
    background: #fff;
    z-index: 200;
}

.searchbar .searchbox  {
    display: flex;
    position: relative;
    top: 15px;
    left: 15px;
}

.searchbar .searchbox form {
    display: flex;
    width: 100%;
}

.searchbar .searchbox form .searchbox-icons {
    position: relative;
    top: 0;
    left: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

.searchbar .searchbox form .searchbox-icons:hover {
    color: grey;
}

.searchbar .searchbox form input {
    position: relative;
    bottom: 5px;
    left: 15px;
    height: 30px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-family: 'Playfair Display', serif;
}

@media (max-width:900px) {
    .searchbar .searchbox {
        left: 10px;
        width: 93%;
        font-size: 0.7rem;
    }
}