header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeee;
  height: 50px;
  width: 100%;
  z-index: 1000;
}

/* Left-side */

.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.left-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.left-inline div {
  margin: 5px;
}

.disclaimer {
  position: relative;
  bottom: 5px;
  margin: 5px;
  font-size: 1.7rem;
}

.heart-icon {
  position: relative;
  top: 0;
  font-size: 1.4rem;
}

.menu-icon {
  display: none;
}

/* Center-side */

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top: 0;
  left: 11%;
  padding: 5px 20px;
  width: 100%;
  gap: 180px;
}

.navigations {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigations li {
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.navigations li:hover {
  background-color: #bbbb;
}

.close-icon {
  display: none;
}

.branding {
  position: relative;
  bottom: 7px;
  right: 38%;
  font-size: 2.1rem;
  font-weight: 700;
}

/* Right-side */

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1px;
}

.right-inline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.right-inline .right-icon {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.right-inline .right-icon:hover {
  color: grey;
}

/* Media querry */

@media (max-width: 1150px) {
  /* Left-side */

  .header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
  }

  .left-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
  }

  .left-inline div {
    margin: 5px;
  }

  .disclaimer {
    position: relative;
    bottom: 4px;
    margin: 5px;
    font-size: 1.5rem;
  }

  .heart-icon {
    position: relative;
    top: 0;
    font-size: 1.3rem;
  }

  .menu-icon {
    display: none;
  }

  /* Center-side */

  .header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    left: 6%;
    padding: 5px 20px;
    width: 100%;
    gap: 150px;
    font-size: 0.9rem;
  }

  .navigations {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navigations li {
    margin: 10px;
    transition: all 0.5s ease;
  }

  .close-icon {
    display: none;
  }

  .branding {
    position: relative;
    bottom: 4px;
    right: 43%;
    font-size: 1.6rem;
    font-weight: 700;
  }

  /* Right-side */

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
  }

  .right-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }

  .right-inline .right-icon {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1.1rem;
  }
}

@media (max-width: 900px) {
  /* Left */

  .left-inline {
    display: none;
  }

  .menu-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9px;
    left: 15px;
    height: 30px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
  }

  /* Center */

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    height: 100%;
    width: 40%;
    background: #eeee;
    z-index: 1200;
    transition: all 0.5s ease;
  }

  .navbar.navbar-active {
    left: 0;
  }

  .navigations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }

  .navigations li {
    position: relative;
    top: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 8px;
    border-radius: 8px;
    transition: all 0.5s ease;
  }

  .navigations li:hover {
    background-color: #bbbb;
  }

  .close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 8px;
    height: 30px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
  }

  .branding {
    display: inline;
    position: absolute;
    top: 0;
    right: 42%;
    font-size: 1.6rem;
  }

  /* Right */

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
  }

  .right-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
  }

  .right-inline .right-icon {
    padding: 2px 8px;
    margin: 2px;
    border-radius: 8px;
    font-size: 1.1rem;
  }

}

/* searcbar css */

.searchbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
  }
  
  .searchbar .searchbox {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #eeee;
    font-size: 0.7rem;
  }
  
  .searchbar .searchbox form {
    position: relative;
    top: 10px;
    left: 5px;
    display: flex;
    height: 50px;
    width: 100%;
    gap: 10px;
  }
  
  .searchbar .searchbox form .searchbox-icons {
    position: relative;
    top: 5px;
    left: 10px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .searchbar .searchbox form .searchbox-icons:hover {
    color: grey;
  }
  
  .searchbar .searchbox form input {
    font-family: "Playfair Display", serif;
    font-size: 0.8rem;
    position: relative;
    top: 0;
    left: 10px;
    height: 30px;
    width: 90%;
    border: none;
    outline: none;
    background: none;
  }

  .searchbar .all-searched-products {
    height: 380px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .searchbar .all-searched-products::-webkit-scrollbar {
    width: 10px;
  }
  
  .searchbar .all-searched-products::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  .searchbar .all-searched-products::-webkit-scrollbar-thumb {
    opacity: 0.4;
    background: grey;
    background-clip: content-box;
    border: 1px solid transparent;
    border-radius: 10px;
  }
  
  .searchbar .all-searched-products .product-description {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: auto;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #fff;
    background: #dddd;
  }
  
  .searchbar .all-searched-products .product-description img {
    position: relative;
    top: 10px;
    left: 20px;
    height: 80px;
    width: 60px;
  }
  
  .searchbar .all-searched-products .product-description .detail {
    font-family: 'Playfair display', serif;
    position: relative;
    top: 10px;
    left: 30px;
    height: auto;
    width: 80%;
  }

  .searchbar .all-searched-products .product-description .detail h5 {
    height: auto;
    width: 100%;
  }
  
  .searchbar .all-searched-products .product-description .detail p {
    font-family: "Playfair display", serif;
    color: #111;
  }
  
  
  @media (max-width:700px) {
    .searchbar .searchbox form .searchbox-icons {
      left: 10px;
    }
  
    .searchbar .searchbox form input {
      font-family: "Playfair Display", serif;
      font-size: 0.8rem;
      position: relative;
      top: 0;
      left: 10px;
      height: 30px;
      width: 75%;
      border: none;
      outline: none;
      background: none;
    }

    .searchbar .all-searched-products .product-description .detail h5 {
      height: auto;
      width: 70%;
    }
  }