.wholepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.wholepage .recommended {
  position: relative;
  top: 10px;
  left: 180px;
  width: 100%;
}

.wholepage .recommended h3 {
  font-family: "Playfair Display", serif;
}

.wholepage .recommended .buttons {
  font-family: "Playfair Display", serif;
  position: relative;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid silver;
  border-radius: 5px;
  outline: none;
  color: #111;
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 110px;
  transition: 0.6s ease;
  font-size: 14px;
}

.wholepage .recommended .buttons:hover {
  border: 1px solid #111;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.wholepage hr {
  position: relative;
  top: 10px;
  left: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  opacity: 0.3;
}

.wholepage .box-container {
  position: relative;
  top: 30px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 90%;
  gap: 15px;
  margin: auto auto 50px 180px;
}

.wholepage .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 180px;
  max-width: 45%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: .6s;
}

.wholepage .box-container .box img {
  border-radius: 8px 8px 0 0;
  height: 230px;
  width: 200px;
  transform: scale(1);
  transition: all linear 0.4s;
}

.wholepage .box-container .box:hover img {
  transform: scale(1.15);
}

.wholepage .box-container .box .hover-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  gap: 5px;
  z-index: -5;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.wholepage .box-container .box:hover .hover-icons {
  opacity: 1;
  transform: translateY(-40px);
  z-index: 5;
}

.wholepage .box-container .box .hover-icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  overflow: hidden;
  font-size: 1.3rem;
  transition: 0.6s;
  cursor: pointer;
}

.wholepage .box-container .box .hover-icons button:hover {
  color: #fff;
  background-color: #111;
}

.wholepage .box-container .box .product-title {
  font-family: "Playfair Display", serif;
  font-size: 1.1rem;
  position: relative;
  bottom: 30px;
  height: 110px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wholepage .box-container .box .product-title h5 {
  padding: 0 5px;
  height: auto;
  width: 100%;
}

.wholepage .box-container .box .product-title .price {
  position: relative;
  top: 5px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wholepage .box-container .box .product-title del {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 40px;
  border-radius: 5px;
  background-color: turquoise;
}

.wholepage .leftbar {
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 130px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 160px;
  padding-bottom: 20px;
}

.wholepage .leftbar .leftbar-close-icon {
    display: none;
}

.wholepage .leftbar .filter {
  position: relative;
  top: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.wholepage .leftbar .filter .accordion-panel {
  margin: 10px 0;
}

.wholepage .leftbar .filter .accordion-panel ul {
  margin: 10px 0;
  font-size: 14px;
  width: 120px;
}

.wholepage .leftbar .filter .accordion-panel ul li {
  position: relative;
  left: 10px;
  margin: 5px 0;
  cursor: pointer;
}

.wholepage .leftbar .filter .accordion-panel .accordion-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  cursor: pointer;
}

.wholepage .leftbar .filter .accordion-panel .accordion-container .accordion-title {
  font-size: 1.1rem;
  width: 100%;
}

.wholepage .leftbar .filter .accordion-panel .accordion-container .accordion-icon {
  transition: 0.3s ease-in-out;
}

.wholepage .leftbar .filter .accordion-panel .accordion-container .accordion-icon.rotate-icon {
  transform: rotate(45deg);
}

.wholepage .leftbar .filter .accordion-panel .button-content {
  display: flex;
  flex-wrap: wrap;
  width: 140px;
}

.wholepage .leftbar .filter .accordion-panel .button-content button {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: .6s all;
  color: #111;
  background: #eeee;
}

.wholepage .leftbar .filter .accordion-panel .button-content button:hover {
  background: #111;
  color: #fff;
}

.wholepage .leftbar .filter .accordion-panel .color-buttons button {
  width: 50px;
}

.wholepage .filter-button {
  display: none;
}

@media (max-width: 768px) {
  .wholepage .recommended {
    position: relative;
    top: 10px;
    left: 15px;
  }

  .wholepage hr {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90%;
  }

  .wholepage .box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto auto 50px auto;
    gap: 30px;
  }
  
  .wholepage .box-container .box {
    max-width: 45%;
  }

  .wholepage .leftbar {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
    border: none;
    background: #eeee;
    z-index: 100;
    transition: all 0.5s ease;
    
  }

  .wholepage .leftbar.leftbar-active {
    left: 0;
  }

  .wholepage .leftbar .leftbar-close-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 8px;
    height: 30px;
    width: 30px;
    font-size: 2rem;
    cursor: pointer;
  }

  .wholepage .leftbar .filter {
    position: relative;
    top: 50px;
    left: 30px;
  }

  .wholepage .leftbar .filter .accordion-panel .button-content button {
    color: #111;
    background: silver;
  }

  .wholepage .filter-button {
    position: fixed;
    top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 40px;
    opacity: 0.4;
    font-size: 1.4rem;
    background: #111;
    color: #eeee;
    cursor: pointer;
  }
}
