.wholepage .recommended {
  position: relative;
  top: 10px;
  left: 180px;
}

.wholepage .recommended h3 {
  font-family: "Playfair Display", serif;
}

.wholepage .recommended .buttons {
  font-family: "Playfair Display", serif;
  position: relative;
  top: 0;
  left: 0;
  border: 1px solid silver;
  border-radius: 5px;
  outline: none;
  color: #111;
  margin: 10px;
  padding: 5px;
  height: 30px;
  width: 100px;
  transition: 0.6s ease;
}

.wholepage .recommended .buttons:hover {
  border: 1px solid #111;
  background: #111;
  color: #fff;
  cursor: pointer;
}

.wholepage hr {
  position: relative;
  top: 10px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  opacity: 0.3;
}

.wholepage .box-container {
  position: relative;
  top: 40px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 90%;
  gap: 15px;
  margin: auto auto 150px 180px;
}

.wholepage .box-container .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 180px;
  max-width: 45%;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.wholepage .box-container .box img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  transform: scale(1);
  transition: all linear 0.4s;
}

.wholepage .box-container .box:hover img {
  transform: scale(1.15);
}

.wholepage .box-container .box .hover-icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  font-size: 1.5rem;
  gap: 5px;
  z-index: -5;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.wholepage .box-container .box:hover .hover-icons {
  opacity: 1;
  transform: translateY(-40px);
  z-index: 5;
}

.wholepage .box-container .box .hover-icons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 5px 10px;
  overflow: hidden;
  font-size: 1.3rem;
  transition: 0.6s;
  cursor: pointer;
}

.wholepage .box-container .box .hover-icons button:hover {
  color: #fff;
  background-color: #111;
}

.wholepage .box-container .box .product-title {
  font-family: "Playfair Display", serif;
  position: relative;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wholepage .leftbar {
  font-family: "Playfair Display", serif;
  position: absolute;
  top: 160px;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 160px;
  padding-bottom: 20px;
  border-right: 1px solid silver;
  border-bottom: 1px solid silver;
}

.wholepage .leftbar .leftbar-close-icon {
    display: none;
}

.wholepage .leftbar .filter {
  position: relative;
  top: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.wholepage .leftbar  .categorylist {
  height: auto;
  width: 130px;
  margin-bottom: 5px;
}

.wholepage .leftbar .categorylist ul {
  position: relative;
  top: 0;
  left: 20px;
}

.wholepage .leftbar .categorylist ul li {
  margin: 5px;
  cursor: pointer;
}

.wholepage .filter-button {
  display: none;
}

@media (max-width: 768px) {
  .wholepage .recommended {
    position: relative;
    top: 10px;
    left: 15px;
  }

  .wholepage hr {
    position: relative;
    top: 10px;
    left: 20px;
    width: 90%;
  }

  .wholepage .box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    margin: auto auto 100px auto;
    gap: 30px;
  }
  
  .wholepage .box-container .box {
    max-width: 45%;
  }

  .wholepage .leftbar {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    width: 50%;
    border: none;
    background: #eeee;
    z-index: 100;
    transition: all 0.5s ease;
    overflow: hidden;
  }

  .wholepage .leftbar.leftbar-active {
    left: 0;
  }

  .wholepage .leftbar .leftbar-close-icon {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    outline: none;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .wholepage .leftbar .filter {
    position: relative;
    top: 50px;
    left: 30px;
  }

  .wholepage .filter-button {
    position: fixed;
    top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 40px;
    opacity: 0.4;
    font-size: 1.4rem;
    background: #111;
    color: #eeee;
    cursor: pointer;
  }
}
