.wrapper {
    position: relative;
    top: 40px;
    margin-bottom: 70px;
    width: 100%;
}

.wrapper .new-arrival-heading {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .container {
    position: relative;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 50px 0;
}

.wrapper .container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70%; 
    overflow: hidden;
}

.wrapper .container .box img {
    width: 100%;
    transition: all linear 0.4s;
}

.wrapper .container .box:hover img {
    opacity: 0;
}

.wrapper .container .box .hover-img {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 70%;
}

.wrapper .container .box:hover .hover-img {
    opacity: 1;
}

.wrapper .container .box .hover-icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    font-size: 1.5rem;
    gap: 5px;
    z-index: -5;
    transform: translateY(0);
    transition: all 0.4s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.wrapper .container .box:hover .hover-icons {
    opacity: 1;
    transform: translateY(-60px);
    z-index: 5;
}

.wrapper .container .box .hover-icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    padding: 5px 10px;
    overflow: hidden;
    font-size: 1.3rem;
    transition: 0.6s;
    cursor: pointer;
    background-color: #fff;
}

.wrapper .container .box .hover-icons button:hover {
    color: #fff;
    background-color: #111;
}

.wrapper .container .box .product-title {
    font-family: "Playfair Display", serif;
    position: relative;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:575px) {
    .wrapper .container {
        width: 100%;
    }

    .wrapper .container .box {
        max-width: 50%; 
    }

    .wrapper .container .box .hover-img {  
        width: 50%;
    }
}
