.cartitems {
    font-family: 'Playfair display', serif;
    position: relative;
    top: 100px;
    margin: 0 100px;
}

.cartitems hr {
    opacity: 0.3;
}

.cartitems .cartitems-format-main {
    display: grid;
    grid-template-columns: 3fr 1fr 4fr;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    gap: 50px;
}

.cartitems .cartitems-format-main .product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 10px 0;
    width: 100%;
    gap: 50px;
}

.cartitems .cartitems-format-main .responsive-lines {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 100px;
}

.cartitems .cartitems-format .product img {
    position: relative;
    height: 100px;
    width: 80px;
}

.cartitems .cartitems-format .product .product-description { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cartitems .cartitems-format .product .product-description h5 {
    
    display: flex;
    flex-wrap: wrap;
}

.cartitems .cartitems-format .product .product-description p {
    font-size: 14px;
}

.cartitems .cartitems-format .responsive-lines .cartitems-counter {
    background: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.cartitems .cartitems-format .responsive-lines .cartitems-counter button {
    font-family: 'Playfair display', serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    padding: 5px 10px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #111;
}

.cartitems .cartitems-format .responsive-lines .cartitems-remove-icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.cartitems .total-price {
    font-size: 1.1rem;
    margin: 15px;
}

.verify-section {
    font-family: "Playfair Display", serif;
    position: relative;
    top: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
.verify-section .checkout-button {
    background-color: #111;
    color: #fff;
    font-family: "Playfair Display SC", serif;
    font-size: 12px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 50px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.6s;
}
  
.verify-section .checkout-button:hover {
    background-color: grey;
    letter-spacing: 5px;
}

@media (max-width: 900px) {
    .cartitems {
        margin: 0 20px;
    }

    .cartitems .cartitems-format-main {
        display: none;
        grid-template-columns: 3fr 1fr 3fr;
    }

    .cartitems .cartitems-format-main .responsive-lines {
        display: grid;
        grid-template-columns: 0.5fr 2fr 0.5fr;
        align-items: center;
        text-align: center;
        gap: 100px;
    }

    .cartitems .cartitems-format-main .product {
        gap: 150px;
    }

    .cartitems .cartitems-format-main .product .product-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cartitems .cartitems-format {
        display: block;
    }

    .cartitems .cartitems-format .single-price {
        display: none;
    }
}