.exclusive {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    padding-bottom: 25px;
}

.exclusive h2 {
    position: relative;
    top: 30px;
}

.exclusive .features {
    position: relative;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    gap: 10px;
}

.exclusive .features .left, .exclusive .features .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 10px;
    flex-wrap: wrap;
}

.exclusive .features .left .promotion,
 .exclusive .features .left .promotion img,
  .exclusive .features .right .blog,
   .exclusive .features .right .blog img {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.exclusive .features .left .trending,
 .exclusive .features .left .trending img, 
  .exclusive .features .right .custom,
   .exclusive .features .right .custom img {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.exclusive .features .left .about-box, .exclusive .features .right .about-box  {
    overflow: hidden;
}

.exclusive .features .left .about-box img, .exclusive .features .right .about-box  img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
    transition: all 1s;
}

.exclusive .features .left .about-box:hover img, .exclusive .features .right .about-box:hover img {
    transform: scale(1.1);
}

.exclusive .features .left .about-box::after, .exclusive .features .right .about-box::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.exclusive .features .left .about-box:hover:after, .exclusive .features .right .about-box:hover:after {
    opacity: 0.2;
}

.exclusive .features .left .description, .exclusive .features .right .description {
    position: relative;
    left: 15px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 900;
}

.exclusive .features .left .description h3, .exclusive .features .right .description h3 {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #eeee;
}

.exclusive .features .left .description h3::after, .exclusive .features .right .description h3::after {
    position: absolute;
    left: 1px;
    bottom: -10px;
    content: '';
    height: 1px;
    width: 70%;
    background: #1AACAC;
}

.exclusive .features .left .description p, .exclusive .features .right .description p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    width: 60%;
    color: #eeee;
}

.exclusive .features .left .description button, .exclusive .features .right .description button  {
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: none;
    border: none;
    outline: none;
    height: auto;
    width: auto;
    gap: 10px;
    color: #eeee;
}

.exclusive .features .left .description button span, .exclusive .features .right .description button span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.exclusive .features .left .description button span:hover, .exclusive .features .right .description button span:hover {
    color: #1AACAC;
}

@media  (max-width:575px) {
    .exclusive .features {
        flex-wrap: wrap;
    }

    .exclusive .features .left,
     .exclusive .features .left .promotion,
      .exclusive .features .right,
       .exclusive .features .right .blog {
        width: 100%;
    }

    .exclusive .features .left .promotion,
     .exclusive .features .left .promotion img,
      .exclusive .features .right .blog, 
       .exclusive .features .right .blog img {
        height: 50vh;
    }

    .exclusive .features .left .description, .exclusive .features .right .description {
        left: 10px;
    }

}