.exclusive {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    margin: 50px 0;
}

.exclusive div h2 {
    position: relative;
    top: 40px;
}

.features {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px;
    gap: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 10px;
    flex-wrap: wrap;
}

.promotion, .promotion img, .blog, .blog img {
    position: relative;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.trending, .trending img, .custom, .custom img {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
}

.about-box {
    overflow: hidden;
}

.about-box img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: scale(1);
    object-fit: cover;
    object-position: center;
    transition: 1s;
}

.about-box:hover img {
    transform: scale(1.1);
}

.about-box::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.about-box:hover:after {
    opacity: 0.2;
}

.exclusive .description {
    position: relative;
    left: 15px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 900;
}

.exclusive .description h3 {
    position: relative;
    font-size: 1.4rem;
    margin-bottom: 5px;
    color: #eeee;
}

.exclusive .description h3::after {
    position: absolute;
    left: 1px;
    bottom: -10px;
    content: '';
    height: 1px;
    width: 70%;
    background: #1AACAC;
}

.exclusive .description p {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    width: 60%;
    color: #eeee;
}

.exclusive .description a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    position: relative;
    bottom: 5px;
    display: inline;
    align-items: center;
    gap: 5px;
    transition: 0.5s;
    color: #eeee;
}

.exclusive .description a:hover {
    gap: 10px;
    color: #1AACAC;
}

@media  (max-width:500px) {
    .features {
        padding: 70px;
        flex-wrap: wrap;
    }

    .left, .right, .promotion, .blog {
        width: 100%;
    }

    .exclusive .description {
        left: 10px;
    }

}